= render partial: "frame"
.contents
  .contents__back
    =link_to "←総合トップ", root_path, class: 'contents__back__root'
  .contents__news
    .contents__news__picks.clearfix
      .contents__news__picks-left
        .contents__news__picks-left-top
          -if @article.image.present?
            .contents__news__picks-left-top-top
              =image_tag("#{@article.image}", class: "contents__news__picks-left-top-top__image")
          .contents__news__picks-left-top__number= "#{@article.picks.length} Picks"
          .contents__news__picks-left-top__title= @article.title
          .contents__news__picks-left-top__source= @article.source
          .contents__news__picks-left-top__text= @article.text
          =link_to '続きを読む', "#{@article.url}",class: 'contents__news__picks-left-top__link'
        .contents__news__picks-left-bottom
          .contents__news__picks-left-bottom__pickbox.clearfix
            =image_tag("#{current_user.face}", class: "contents__news__picks-left-bottom__pickbox__face") if user_signed_in?
            -if user_signed_in?
              =form_for [@article,@pick] do |f|
                =f.text_field :comment, placeholder: "コメントを書く(任意)",class: 'contents__news__picks-left-bottom__pickbox__comment'
                .contents__news__picks-left-bottom__pickbox__share シェアする
                =f.submit "Pick",class: 'contents__news__picks-left-bottom__pickbox__pick'
          .contents__news__picks-left-bottom__commentbox
            %p 選択しているユーザー
            .line
            .commentbox__unit
              .commnetbox__unit__line.clearfix
                = render partial: 'commentbox' ,collection: @article.picks ,as: "pick"
            .line
            %p フォローしているユーザーのコメント
            .line
            .contents__news__picks-left-bottom__commentbox__unit
              .contents__news__picks-left-bottom__commentbox__unit__face
              .contents__news__picks-left-bottom__commentbox__unit__name
              .contents__news__picks-left-bottom__commentbox__unit__job
              .contents__news__picks-left-bottom__commentbox__unit__comment
              .contents__news__picks-left-bottom__commentbox__unit__like
          .contents__news__picks-left-bottom__commentbox
            %p おすすめのユーザーのコメント
            .contents__news__picks-left-bottom__commentbox__unit
              .contents__news__picks-left-bottom__commentbox__unit__face

              .contents__news__picks-left-bottom__commentbox__unit__name
              .contents__news__picks-left-bottom__commentbox__unit__job
              .contents__news__picks-left-bottom__commentbox__unit__comment
              .contents__news__picks-left-bottom__commentbox__unit__like


      .contents__news__picks-tags
        .contents__news__picks-tags__input.clearfix
          %p 新しいタグを付ける
          =form_for(@article) do |f|
            =text_field :tag, :name,class: 'text_field'
            / = collection_check_boxes(:article, :tag_ids, Tag.all, :id, :name)
            =f.submit "タグを付ける",class: 'button'
            / =hidden_field :article_id, params[:id]
          %ul
        .contents__news__picks-tags__added
          %p この記事のタグ
          %ol
            =render partial: "tags",collection: @tags, as: "tag"

/     .contents__body__news
/     .contents__body__comments
/   .contents__info
/   .contents__ranking__comment
/ .comment-line
